# To install:
#   pip install -r requirements.txt

scanpy>=1.12
anndata
scikit-misc       
leidenalg         
igraph
umap-learn         

pandas
numpy
scipy
scikit-learn

hdbscan

mlxtend

networkx
matplotlib

xgboost
lightgbm

ipykernel